<section id="projects">
    <h2>Current Projects</h2>
    <div class="project-grid">
        
        <div class="project-item">
            <img src="assets/images/Fallingwater-house.jpg" alt="Icon" class="project-icon">
            <h3>Neural Decoding</h3>
            <p>Translating motor cortex signals into digital commands.</p>
        </div>

        <div class="project-item">
            <img src="images/project2.png" alt="Icon" class="project-icon">
            <h3>Sensory Feedback</h3>
            <p>Closing the loop between prosthetics and the nervous system.</p>
        </div>

        <div class="project-item">
            <img src="images/project2.png" alt="Icon" class="project-icon">
            <h3>Sensory Feedback</h3>
            <p>Closing the loop between prosthetics and the nervous system.</p>
        </div>

        <div class="project-item">
            <img src="images/project2.png" alt="Icon" class="project-icon">
            <h3>Sensory Feedback</h3>
            <p>Closing the loop between prosthetics and the nervous system.</p>
        </div>

    </div>
</section>
