<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>BCIRehab Lab | Neural Engineering</title>

  <link
    rel="preconnect"
    href="https://fonts.googleapis.com"
  />

  <link
    rel="preconnect"
    href="https://fonts.gstatic.com"
    crossorigin
  />

  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="assets/css/main.css">
</head>


<body>

    <!-- <header class="top-header">
        <div class="header-content">
            <span class="lab-name">BCIRehab Lab</span>
            <span class="uni-name">The Catholic University of America</span>
        </div>
    </header> -->

    <header class="top-header">
        <div class="header-content">
            <div class="header-left">
                <a href="/" class="logo-link">
                    <img src="assets/images/lab-logo.png" alt="BCIRehab Logo" class="header-logo">
                </a>
                <span class="lab-name">BCIRehab Lab</span>
            </div>
    
            <div class="header-right">
                <a href="https://www.catholic.edu" target="_blank" rel="noopener noreferrer">
                <img src="assets/images/cua-logo.png" alt="CUA Logo" class="uni-logo">
                </a>
</div>
    </div>
    </header>
    
    {% include nav.html %}

    <main>
        
        {{ content }}
    </main>

    <script>
        const observerOptions = {
            threshold: 0.2 // Trigger when 20% of the item is visible
        };
    
        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('is-visible');
                }
            });
        }, observerOptions);
    
        // Tell the observer to watch all timeline items
        document.querySelectorAll('.v-timeline-item').forEach((item) => {
            observer.observe(item);
        });
    </script>
</body>

</html>